<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SecretKey" value="MAKV2SPBNI992126"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DatabaseConnectionString" connectionString="Data Source=.\SQLExpress;Persist Security Info=True;Integrated Security=SSPI;Initial Catalog=sree4sree_Database" providerName="System.Data.SqlClient"/>-->
    <add name="DatabaseConnectionString" connectionString="Server=69.16.252.12;Database=oceanind_book;User ID=oceanind;Password=sree2284;Trusted_Connection=False;" providerName="sqloledb"/>
  </connectionStrings>
		<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
</configuration>
